ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

.btn {
  cursor: pointer;
}

header {
  background: #3C75E7;
  padding: 20px 0;
  margin-bottom: 20px;
}

header h1 {
  color: #ffffff;
}

footer {
  background: #343840;
  padding: 10px 0;
}

footer p {
  margin: 0;
  color: #ffffff;
}

.task-overview li {
  margin-bottom: 10px;
}

.buttons li {
  display: inline-block;
  margin-right: 10px;
}

